:root {
  --color-dark: #111;
  --color-light: #fff;
  --color-gold: rgb(206, 206, 206);
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


img {
  max-width: 100%;
  height: auto;
}

.header {
  position: sticky;
  background: linear-gradient(to bottom, rgb(123, 211, 211), rgb(255, 255, 255));
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.navegador {
  display: flex;
  justify-content: space-between;
}

.enlaces {
  margin: 0 auto;
  position: center;
  padding: 5px;
}

.enlaces.is-active {
  left: 0;
  opacity: 1;
}

.logo {
  position: absolute;
  text-align: left;
  padding: 20px 30px;
  float: left;
  margin-left: 60px;
  font-weight: bold;
  font-size: 35px;
  left: 20px;
  text-decoration: none;
}

nav ul {
  margin-bottom: 0;
  align-items: center;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  color: rgb(255, 255, 255);
}

nav ul li a {
  color: darkcyan;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
}

nav ul li a:hover{
    transition: .2s;
    color: rgb(145, 145, 145);
    text-decoration: underline;
}


.my-2 {
  background-color: darkcyan;
}

.btncolor {
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgb(225, 241, 241), rgb(123, 211, 211));
}

.btncolor:hover {
    color: rgb(123, 211, 211);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
}
  
.btn-config {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(123, 211, 211));
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 10px;
}


.reloj {
  display: flex;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 998;
  bottom: 1vh;
  left: 1vw;
  width: 12rem;
  height: 2rem;
  padding: 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(123, 211, 211));
  border-radius: 5px;
  box-shadow: -8px -8px 15px rgb(145, 223, 223);       
}

.relojDigital {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 5px;
  font-size: 25px;
}

@media (max-width: 952px){
  .logo{
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }

  
}

@media (max-width: 858px){
  .btn-config{
    display: block;
  }
  
  ul{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(123, 211, 211));
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    opacity: 0;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  .logo {
    position: inherit;
    margin-left: 0;
  }

  
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.opacity-80 {
  opacity: 0.8;
}

.sepia {
  filter: sepia(1);
}

.fondos_login {
  font-family: icon-user;
  font-weight: 200;
  background: linear-gradient(to bottom, rgb(123, 211, 211), rgb(255, 255, 255));
}