:root {
  --color-dark: #111;
  --color-light: #fff;
  --color-gold: rgb(206, 206, 206);
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Menu */
.header {
  position: sticky;
  background: #fff;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  margin-bottom: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.514);
}

.navegador {
  display: flex;
  justify-content: space-between;
}

.enlaces {
  margin: 0 auto;
  position: center;
  padding: 5px;

}

.enlaces.is-active {
  left: 0;
  opacity: 1;
}


.logo {
  position: absolute;
  text-align: left;
  padding: 20px 30px;
  float: left;
  margin-left: 60px;
  font-weight: bold;
  font-size: 35px;
  left: 20px;
  text-decoration: none;
  color: #111;
}

.logo:hover {
  color: darkcyan;
}

nav ul {
  margin-bottom: 0;
  align-items: center;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  color: rgb(255, 255, 255);
}

nav ul li a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
}

nav ul li a:hover{
    transition: .2s;
    color: darkcyan;
    text-decoration: underline;
}

.centrar {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgb(123, 211, 211), rgb(255, 255, 255));
}

.card-filter {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 10px 10px;
  float: right;
  font-weight: bold;
  font-size: 20px;
  right: 20px;
  color: darkcyan;
  border-radius: 40px;
  background: none;
  color: #111;
  border: none;
  outline: none;
  width: 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
  transition: .3s;
  z-index: 999;
}

.card-filter .dark-mode {
  border: rgb(123, 211, 211);
}

.centrar:hover > .card-filter {
  width: auto;
}

.centrar:hover > .boton {
 right: 300px;
}

.boton {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 10px 10px;
  float: right;
  font-size: 20px;
  font-weight: bold;
  right: 10px;
  color: darkcyan;
  border-radius: 40px;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
  text-decoration: none;
  z-index: 999;
}

/* Caja de contenido */

.box {
  display: grid;
  margin: 40px;
  font-family: 'Times New Roman', Times, serif;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: #111;
}

.box img {
  width: 70%;
  height: auto;
}

.lead {
  color: #111;
  margin: 10px;
}

.barra {
  margin: 10px 0;
  opacity: 0.3;
  width: 100%;
}

h2 {
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}


img {
  max-width: 100%;
  height: auto;
}

/* Responsive Slider */

.slider {
  position: relative;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 500px;
}

.slider-slide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 800ms ease-in;
}

.slider-slide img {
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}


.slider-slide.active_right {
  opacity: 1;
  visibility: visible;
}

.slider-slide.active_left {
  opacity: 1;
  visibility: visible;
}

.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 4rem;
  font-weight: bold;
}

.slider a {
  display: flex;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding-bottom: 10px;
  border-radius: 50%;
  text-decoration: none;
  background: #fff;
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);
  align-items: center;
  text-align: center;
}

.slider a:hover {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
}


/* Boton ver ropa */

.btncolor {
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: #111;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);
}

.btncolor:hover {
    color: rgb(123, 211, 211);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
}
  
/* Reloj Digital */

.reloj {
  display: flex;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 998;
  bottom: 1vh;
  left: 1vw;
  width: 11rem;
  height: 2rem;
  padding: 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);     
}

.relojDigital {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 2px;
  font-size: 25px;
  font-weight: lighter;
}

/* Boton menu para moviles */

.btn-config {
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: -10%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  background: #fff;
  outline: 0;
  border: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);
}

.btn-config:hover{
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 10px;
}

/* Boton Scroll Arriba */

.scroll-top-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 999;
  bottom: 1vh;
  right: 1vh;
  width: 4rem;
  height: 4rem;
  padding-bottom: 10px;
  border-radius: 50%;
  font-size: 3.5rem;
  font-weight: bold;
  background: #fff;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);
}

.scroll-top-btn:hover {
  color: rgb(123, 211, 211);
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
}

.hidden {
  visibility: hidden;
  opacity: 0;
  right: -10%;
}


/* Productos */

.organizacion {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 10px;
  font-size: 20px;
  margin-bottom: 5vh;
}

.cards {
  width: 70%;
  margin: 20px;
  height: auto;
  transition: all 0.4s ease-out;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #111;
  background: #fff;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);
  transition: all 0.5s;
}

.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0,0,0,0.5);
}


.card:hover::after{
  transform: translateY(0);
}

.card::after{
  content: "";
  color: #fff;
  background-color: rgba(0, 0, 0, 0.116);
  position: absolute;
  inset: 0;
  display: flex;
  place-items: center;
  transform: translateY(100%);
  transition: transform .3s;
}

.dark-mode > .card::after {
  background-color: rgba(255, 255, 255, 0.11);
}

.image {
  display: flex;
  width: 100%;
  height: 100%;
}

.image img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}


.item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}


.item-content figcaption {
  position: relative;
  padding: 1rem;
  color: #111;
}

.item-content a {
  position: sticky;
  display: block;
  z-index: 997;
  width: 50%;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card a:hover {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
  color:darkcyan;
}

.filter {
  visibility: hidden;
  opacity: 0;
  order: 1;
}

/* Formulario */

.fondo {

  margin: 20px 20%;
  padding-bottom: 40px;
  border-radius: 20px;
}

.contact-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 60%;
  border-radius: 20px;
}

.contact-form textarea{
  resize: none;
}

.contact-form legend, .contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input, .contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
  color: #111;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

/* .contact-form *::placeholder {
  color: rgba(0, 139, 139, 0.555);
} */

.contact-form [required]:valid{
  color: darkcyan;
}

.contact-form [required]:invalid{
  color: rgb(194, 0, 0);
}

.contact-form-error {
  text-align: center;
  margin-top: -1rem;
  font-size: 80%;
  background: rgb(194, 0, 0);
  color: #fff;
  transition: all 800ms ease;
  width: 30%;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal ease-out both;
}

.contact-form-loader {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}




/* Tema Oscuro */

.dark-theme-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  bottom: 1vh;
  left:1vw;
  width: 4rem;
  height: 4rem;
  bottom: 5.5vh;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background:#fff;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.5s ease-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);
}

.dark-theme-btn:hover {
  color: rgb(123, 211, 211);
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(207, 207, 207));
}

.dark-mode {
  background: #1f2937;
  color: darkcyan;
}


.dark-mode *{
  color: #fff;
}


.dark-mode-btn {
  background: darkcyan;
  color: #111;
}

@media (max-width: 952px){
  .logo{
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 20px;
  }

  
}

@media (max-width: 858px){
  .btn-config{
    display: block;
    visibility: visible;
    opacity: 1;
    right: 1vh;
  }

  /* .caja-menu-mobil{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    z-index: 99999;
  } */
  
  ul{
    z-index: 999;
    flex-direction: column;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    opacity: 0;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  .logo {
    position: inherit;
    margin-left: 0;
  }

  .card-filter{
    top: 60px;
    display: none;
    font-size: 15px;
  }
  

  .centrar:hover > .boton {
    right: 10px;
   }

   
  .centrar:hover > .card-filter {
    display: block;
   }

  .scroll-top-btn{
    bottom: 10vh;
  }
  
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.opacity-80 {
  opacity: 0.8;
}

.sepia {
  filter: sepia(1);
}

.fondos_login {
  font-family: icon-user;
  font-weight: 200;
  background: linear-gradient(to bottom, rgb(123, 211, 211), rgb(255, 255, 255));
}